<manifest package="com.angcyo.objectbox">

    <!-- https://docs.objectbox.io/data-browser -->
    <!--
    &lt;!&ndash; Required to provide the web interface &ndash;&gt;
    <uses-permission android:name="android.permission.INTERNET" />
    &lt;!&ndash; Required to run keep-alive service when targeting API 28 or higher &ndash;&gt;
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    -->
    
</manifest>
