<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angcyo.objectbox">

    <!-- Required to provide the web interface -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Required to run keep-alive service when targeting API 28 or higher -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

</manifest>
