<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angcyo.tbs">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--如果你使用的是 Android 10.0 及以上设备，还需要添加如下权限：-->
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />

    <application>
        <activity
            android:name=".core.TbsWebActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode|smallestScreenSize"
            android:hardwareAccelerated="true"
            android:launchMode="standard"
            android:rotationAnimation="seamless"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".core.TbsVideoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode|smallestScreenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--首次初始化冷启动优化 https://x5.tencent.com/docs/access.html-->
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="tbs dexopt"
            android:process=":dexopt" />
    </application>

</manifest>
