<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angcyo.server">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!--Android 14前台服务权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />

    <application>
        <service
            android:name=".def.AndServerService"
            android:enabled="true"
            android:exported="false"
            />
        <service
            android:name=".file.FileServerService"
            android:enabled="true"
            android:exported="false"
            />
    </application>
</manifest>
