<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angcyo.engrave">

    <application>
        <!--连接提示-->
        <activity
            android:name=".ble.DeviceConnectTipActivity"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/DeviceConnectTipTheme" />
    </application>
</manifest>
