<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angcyo.bluetooth.fsc">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 旧版蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Android 12 需要以下权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!--Android 14前台服务权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application>
        <service
            android:name="com.feasycom.ble.service.OTAService"
            android:enabled="true"
            android:exported="false"
            />

        <service
            android:name="com.feasycom.spp.service.OTAService"
            android:enabled="true"
            android:exported="false"
            />
    </application>

</manifest>
